<nav class="navbar navbar-light bg-primary rounded navbar-expand-md">
      <a class="navbar-brand" href="/">FlasTweet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 2</a>
          </li>
        </ul>
        <ul class="navbar-nav">
        {% if not session.logged_in %}
          <li class="nav-item">
            <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0">Login</button></a>&nbsp;
          </li>
          <li class="nav-item">
            <a href="/register"><button class="btn btn-outline-success my-2 my-sm-0">Register</button></a>&nbsp;
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{{session.username|title}}</a>
          </li>
          <li class="nav-item">
            <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">Logout</button></a>&nbsp;
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
